<html lang="ko">


<th:block th:fragment="footer">

<div class="tabbar">
    <a href="goHome">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="홈" />
        홈
    </a>
    <a href="goCategory">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25391.png" alt="카테고리" />
        카테고리
    </a>
    <a href="goWishlist">
        <img src="https://cdn-icons-png.flaticon.com/512/1077/1077035.png" alt="찜" />
        찜
    </a>
    <a href="profile.html">
        <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png" alt="마이페이지" />
        마이페이지
    </a>
</div>


</th:block>




</html>