<html lang="ko">

<th:block th:fragment="header">

    <!-- 확인 모달 -->
    <div th:fragment="confirmDeleteModal">
        <div id="logout-modal" class="modal" style="display: none;">
            <div class="modal-content">
                <p>로그아웃 되었습니다.</p>
                <div class="modal-buttons">
                    <button id="logout-confirm" class="confirm-button">확인</button>
                </div>
            </div>
        </div>
    </div>

    <div class="topbar">
        <a href="goHome">
            <h1>mueossa</h1>
        </a>
        <div class="search-place">
            <form th:action="@{/searchProduct}" class="search-keyword" method="get">
                <input type="text" name="keyword" placeholder="검색어를 입력하세요" th:value="${keyword} ? ${keyword}" />
                <button type="submit" class="search-button"></button>
            </form>
        </div>

        <div th:if="${session.user != null}">
            <!-- 로그아웃 버튼 -->
            <div class="login-box" id="logout_box">
                <img th:src="@{/images/logout_icon.ico}" alt="logout" class="logout-image">
            </div>
        </div>
        <div th:if="${session.user == null}">
            <!-- 로그인 버튼 -->
            <div class="login-box" onclick="location.href='goLogin'">
                <img th:src="@{/images/favicon_login.ico}" alt="Login" class="login-image">
            </div>
        </div>

    </div>
    <script>
        $(function () {
            $("#logout_box").on("click", function (e) {
                e.preventDefault();
                $("#logout-modal").css("display", "flex");
            });
            $("#logout-confirm").on("click", function (e) {
                e.preventDefault();
                window.location.href = "/userLogout";
            });
        });
    </script>

</th:block>

</html>