<html lang="ko">
  <th:block th:fragment="productList">
    <div class="product-list">
      <!-- 상품 카드 반복 -->
      <th:block th:each="product : ${prodCateList}">
        <div
          class="product-card"
          th:attr="
                data-pid=${product.pId},
                data-ctcomf=${product.ctComf},
                data-ctfluffy=${product.ctFluffy},
                data-ctlight=${product.ctLight},
                data-ctsoft=${product.ctSoft},
                data-ctflat=${product.ctFlat},
                data-ctpretty=${product.ctPretty},
                data-ctcute=${product.ctCute},
                data-ctneat=${product.ctNeat},
                data-ctmodern=${product.ctModern},
                data-cthip=${product.ctHip},
                data-ctwide=${product.ctWide},
                data-ctnarrow=${product.ctNarrow},
                data-ctstandard=${product.ctStandard},
                data-ctcost=${product.ctCost},
                data-ctstrong=${product.ctStrong},
                data-pgroup=${product.pGroup},
                data-ptype=${product.pType},
             "
        >
          <!-- 찜버튼용 data-pid추가 -->
          <a th:href="@{productInfo(pId=${product.pId})}">
            <!-- 찜버튼 -->
            <div class="wish-button">
              <img
                th:src="${session.wishlist != null and #sets.contains(session.wishlist, product.pId)} ? '/images/hearts/heart.png' : '/images/hearts/like.png'"
                alt="찜하기"
                class="heart-icon"
              />
            </div>
            <img
              class="product-image"
              th:src="${product.pImage}"
              alt="상품 이미지"
            />
            <div class="product-info">
              <div class="product-brand" th:text="${product.pBrand}"></div>
              <div class="product-name" th:text="${product.pName}"></div>
              <span
                class="product-rating"
                name="pd_rating"
                th:text="|⭐${product.pRating}|"
              ></span>
              <span
                class="product-sentiment"
                name="sentiment"
                th:text="|💖${product.sentiment}|"
              ></span>
              <div class="keywords">
                <p th:if="${product.ctComf} == 'Y' ">편한</p>
                <p th:if="${product.ctFluffy} == 'Y' ">푹신한</p>
                <p th:if="${product.ctLight} == 'Y' ">가벼운</p>
                <p th:if="${product.ctSoft} == 'Y' ">부드러운</p>
                <p th:if="${product.ctFlat} == 'Y' ">플랫한</p>
                <p th:if="${product.ctPretty} == 'Y' ">예쁜</p>
                <p th:if="${product.ctCute} == 'Y' ">귀여운</p>
                <p th:if="${product.ctNeat} == 'Y' ">깔끔한</p>
                <p th:if="${product.ctModern} == 'Y' ">모던함</p>
                <p th:if="${product.ctHip} == 'Y' ">휘뚜루마뚜루</p>
                <p th:if="${product.ctWide} == 'Y' ">발볼이 넓은</p>
                <p th:if="${product.ctNarrow} == 'Y' ">발볼이 좁은</p>
                <p th:if="${product.ctStandard} == 'Y' ">발볼이 보통</p>
                <p th:if="${product.ctCost} == 'Y' ">가격이 착한</p>
                <p th:if="${product.ctStrong} == 'Y' ">튼튼한</p>
              </div>
              <div class="price-line">
                <span
                  class="product-discount"
                  name="discount"
                  th:text="${product.pDiscount}"
                ></span>
                <span class="product-price" th:text="${product.pPrice}"></span>
              </div>
            </div>
          </a>
        </div>
      </th:block>
    </div>
  </th:block>
</html>
