@font-face {
  font-family: "NanumSquareR";
  src: url("../font/NanumSquareR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: sans-serif;
  background: #f5f5f5;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  /* ✅ body 스크롤 막기 */
}

p {
  display: block;
  visibility: visible;
  color: black;
  /* 텍스트 색상 */
}

.background {
  background-image: url("../images/bgimg.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mobile-frame {
  position: relative;
  width: 390px;
  margin: 0 auto;
  margin-right: 200px;
  background: #fff;
  height: 100vh;
  /* ✅ 스크롤 영역 고정 */
  overflow-y: auto;
  /* ✅ 내부만 스크롤 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.topbar {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.topbar a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.topbar h1 {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-left: -10px;
  margin-top: -8px;
  padding-right: 10px;
}

.search-place {
  border-radius: 20px;
  border-color: black;
  padding: 5px 10px;
  height: 28px;
  display: flex;
  align-items: center;
  position: relative;
}

.search-place input {
  background: transparent;
  outline: none;
  border-radius: 15px;
  border-color: rgba(0, 0, 0, 0.466);
  width: 200px;
  height: 28px;
  font-size: 12px;
  color: #333;
}

.search-button {
  background-image: url("https://cdn-icons-png.flaticon.com/512/622/622669.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  /* 이미지 크기 조정 */
  background-position: center;
  /* 이미지 위치 조정 */
  border: none;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top: 7px;
  margin-left: -22px;
  position: absolute;
}

.login-box {
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 8px;
}

.login-box img {
  width: 55px;
  height: 60px;
  display: block;
  cursor: pointer;
}

/* 마이페이지 스타일 */

.mypage-button {
  width: 240px;
  height: 80px;
  border-radius: 10px;
  background-color: #ffffffb6;
  margin: 5px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s, ease, color 0.3s, ease;
}

.mypage-button:hover {
  background-color: #4caf50;
}

/* 취향테이블 스타일 */

.preference-button {
  width: 80px;
  height: 25px;
  border-radius: 10px;
  background-color: #ffffffb6;
  margin: 5px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s, ease, color 0.3s, ease;
}

.preference-button:hover {
  background-color: #f0f0f0;
}

.preference-button.selected {
  background-color: #4caf50;
  /* 선택된 버튼의 배경색 */
  color: white;
  /* 선택된 버튼의 텍스트 색상 */
  border: 1px solid #4caf50;
  /* 선택된 버튼의 테두리 색상 */
}

.preference-buttons input {
  display: none;
}

.preference-button2 {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  background-color: #ffffffb6;
  margin: 5px;
  margin-left: 20px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s, ease, color 0.3s, ease;
}

.preference-button2:hover {
  background-color: #f0f0f0;
}

.preference-button2.selected {
  background-color: #4caf50;
  /* 선택된 버튼의 배경색 */
  color: white;
  /* 선택된 버튼의 텍스트 색상 */
  border: 1px solid #4caf50;
  /* 선택된 버튼의 테두리 색상 */
}

.preference-buttons2 input {
  display: none;
}









.preference-toggle {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  background-color: #ffffffb6;
  margin: 5px;
  margin-left: 20px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s, ease, color 0.3s, ease;
}

.preference-toggle:hover {
  background-color: #f0f0f0;
}

.preference-toggle.selected {
  background-color: #4caf50;
  /* 선택된 버튼의 배경색 */
  color: white;
  /* 선택된 버튼의 텍스트 색상 */
  border: 1px solid #4caf50;
  /* 선택된 버튼의 테두리 색상 */
}



/* 로그인 폼 스타일 */
#login {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.login-id,
.login-pw {
  display: block;
  margin-bottom: 15px;
}

.login-id input,
.login-pw input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.login-links {
  margin: 20px 0;
  font-size: 12px;
  color: #666;
}

.login-links a {
  text-decoration: none;
  color: #666;
  margin: 0 5px;
  cursor: pointer;
}

.login-links a:hover {
  text-decoration: underline;
}

.login-buttons {
  margin-top: 20px;
}

.login-buttons button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-buttons button:hover {
  background-color: #4caf4fb0;
}

/* 회원가입 폼 스타일 */
#join {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50%;
}

.section-title2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
}

.section-title2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-title {
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  line-height: 40px;
  /* 텍스트 세로 중앙 정렬 */
  margin-top: 40px;
  text-align: center;
  font-family: "NanumSquareR", sans-serif;
}

.main-title2 {
  font-size: 10px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  /* 텍스트 세로 중앙 정렬 */
  text-align: center;
  margin-bottom: 10px;
  font-family: "NanumSquareR", sans-serif;
}

span {
  display: block;
  margin-bottom: 15px;
}

span input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.input-wrapper {
  position: relative;
  width: 100%;
  /* 부모 요소의 너비를 100%로 설정 */
}

.input-wrapper input {
  width: 100%;
  /* input 태그가 부모 요소의 너비를 채우도록 설정 */
  padding-right: 90px;
  /* 버튼이 겹치지 않도록 오른쪽 여백 추가 */
}

.check-button {
  position: absolute;
  right: 10px;
  /* input 태그의 오른쪽에 위치 */
  top: 50%;
  /* 세로 중앙 정렬 */
  transform: translateY(-50%);
  padding: 5px 10px;
  font-size: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.check-button:hover {
  background-color: #45a049;
}

.join-gender select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.divider {
  border-top: 2px solid #ccc;
  margin: 40px 0;
}

.divider2 {
  border-top: 2px solid #ccc;
  margin: 0px 120px;
  margin-bottom: 30px;
}

.join-links {
  margin: 20px 0;
  font-size: 12px;
  color: #666;
}

.join-links a {
  text-decoration: none;
  color: #666;
  margin: 0 5px;
  cursor: pointer;
}

.join-links a:hover {
  text-decoration: underline;
}

.join-buttons {
  margin-top: 20px;
  margin: 0 0px;
}

.join-buttons button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-buttons button:hover {
  background-color: #45a049;
}

.banner-slider {
  width: 100%;
  overflow: hidden;
  /* 슬라이드 영역 밖의 이미지를 숨김 */
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* 슬라이드 전환 효과 */
}

.slides img {
  width: 100%;
}

.prev-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.192);
  color: white;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  padding-right: 10px;
}

.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.192);
  color: white;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  padding-left: 10px;
}

.prev-slide {
  left: 2px;
  /* 왼쪽 버튼 위치 */
}

.next-slide {
  right: 2px;
  /* 오른쪽 버튼 위치 */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  padding: 0 4px;
}

.product-card {
  position: relative;
  background: rgba(255, 255, 255, 0.911);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  width: calc(33.33% - 6px);
}

.wish-button {
  position: absolute;
  top: 151px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  width: 10px;
  height: 10px;
  transition: transform 0.3s ease;
}

.wish-button:active {
  transform: scale(3);
}

.product-card a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.product-card img {
  width: 100%;
  height: auto;
  display: block;
}

.product-info {
  position: relative;
  padding: 10px;
  background-color: #f3f3f3d5;
  white-space: normal;
  height: 140px;
}

.product-brand {
  font-size: 10px;
  font-weight: bold;
}

.product-name {
  font-size: 10px;
}

.product-rating {
  font-size: 8px;
  font-weight: bold;
  color: #666;
  margin-bottom: 4px;
}

.keywords {
  font-size: 6px;
  color: #999;
  margin-bottom: 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.keywords p {
  color: #333;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: fit-content;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.product-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

.price-line {
  position: absolute;
  /* 부모 요소(product-info)의 위치를 기준으로 설정 */
  bottom: 0;
  /* 부모 요소의 하단에 고정 */
  left: 0;
  /* 왼쪽 정렬 */
  width: 100%;
  /* 부모 요소의 너비를 채움 */
  height: 0px;
  padding: 3px 8px;
  /* 내부 여백 */
  display: flex;
  /* 내용 정렬 */
  justify-content: space-between;
  /* 자식 요소 간격 균등 배치 */
  align-items: center;
  /* 세로 중앙 정렬 */
}

.product-discount {
  font-size: 9px;
  color: red;
  margin-top: 1px;
}

.product-price {
  font-size: 10px;
  font-weight: bold;
  color: #333;
}

/* 상세 페이지 디자인 */

.product-discription-card img {
  width: 380px;
  height: 390px;
}

.product-discription-category {
  font-size: 15px;
  margin-bottom: 4px;
  color: #666;
}

.product-discription-name {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 4px;
}

.product-discription-rating {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #333;
}

.product-discription-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: right;
}

.product-discription-category-score div {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 4px;
  width: 100%;
  max-width: 600px;
}

.product-discription-category-score h3 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #333;
}

.bar {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  height: 25px;
  width: 100%;
  max-width: 350px;
}

.bar-label {
  width: 76px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
}

.bar-fill {
  width: 0;
  height: 20px;
  background-color: #1dcd9f;
  text-align: right;
  border-radius: 5px;
  transition: width 3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.bar-fill span {
  font-size: 10px;
  margin-top: 15px;
  text-align: right;
}

.product-discription-image img {
  width: 380px;
}

.tabbar {
  position: fixed;
  /* 화면 하단에 고정 */
  bottom: 13px;
  /* 화면 하단에 위치 */
  width: 360px;
  /* 부모 요소의 너비에 맞게 설정 */
  height: 40px;
  /* 메뉴바 높이 */
  background: #ffffff;
  /* 배경색 */
  display: flex;
  /* 메뉴 항목을 가로로 배치 */
  justify-content: space-around;
  /* 메뉴 항목 간격을 균등하게 배치 */
  align-items: center;
  /* 세로 중앙 정렬 */
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  /* 상단 그림자 효과 */
  z-index: 1000;
  /* 다른 요소 위에 표시 */
  border-top: 1px solid #e0e0e0;
  /* 상단 경계선 */
  border-radius: 20px;
  margin-left: 15px;
}

.tabbar a {
  text-decoration: none;
  /* 링크 밑줄 제거 */
  color: #333;
  /* 텍스트 색상 */
  font-size: 8px;
  /* 텍스트 크기 */
  display: flex;
  /* 아이콘과 텍스트를 세로로 배치 */
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.tabbar a img {
  width: 16px;
  /* 아이콘 크기 */
  height: 16px;
  margin-bottom: 2px;
  /* 아이콘과 텍스트 간격 */
}

/* Top 버튼 스타일 */
.top-button {
  position: fixed; /* 화면에 고정 */
  width: 30px; /* 버튼의 너비 */
  right: 210px; /* 오른쪽 여백 */
  bottom: 60px; /* 아래 여백 */
  height: 30px; /* 버튼의 높이 */
  background-color: #f5f5f5; /* 버튼 배경색 */
  border: none; /* 테두리 제거 */
  border-radius: 50%; /* 동그란 모양 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
  justify-content: center;
  align-items: center;
  font-size: 18px; /* 텍스트 크기 */
  z-index: 1000; /* 다른 요소 위에 표시 */
}

.top-button:hover {
  background-color: #a3a3a3; /* 호버 시 배경색 변경 */
}
