<!-- layout 쓰는 파일-->

<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="header"></th:block>


<th:block layout:fragment="content">

  <!-- 여기 로그인이에요! -->
  <div id="login" class="page">
    <div class="section-title">회원 정보</div>

    <!-- 아이디 -->
    <span class="login-id">
      <input type="text" id="login-id" name="id" placeholder="ID" readonly />
    </span>

    <!-- 비밀번호 입력 -->
    <span class="login-pw">
      <input type="password" id="login-pw" name="pw" placeholder="Password" readonly />
    </span>

    <div class="divider"></div>

    <!-- 하단 링크 -->
    <div class="login-links">
      <a href="goJoin">회원가입</a> |
      <a href="goFindAccount">계정 찾기</a> |
      <a href="#">문의하기</a>
    </div>

    <!-- 로그인 버튼 -->
    <div class="login-buttons">
      <button type="submit">로그인</button>
    </div>
  </div>

</th:block>

<th:block layout:fragment="footer"></th:block>

</html>