<!-- layout 쓰는 파일-->

<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="header"></th:block>


<div layout:fragment="content">

    <div id="home" class="page active">
        <div class="banner">
            <img src="https://picsum.photos/400/150?random=1" alt="배너" />
        </div>
        
            <div class="main-title">사용자의 취향에 맞는 추천 상품</div>
     

        <div class="main-title2">사용자의 취향에 맞는 추천 상품</div>

        <div class="divider2"></div>

        <div class="product-list">
            <!-- 상품 카드 반복 -->
            <!-- 18개의 카드 -->
            <!-- for demo purposes only -->
            <!-- 각 카드마다 random 이미지 부여 -->
            <!-- 반복적으로 생성 -->
            <!-- 아래는 예시 -->

            <!-- 반복문처럼 생성된 카드들 -->
            <!-- 아래 예시로 18개 중 1~3만 예시로 작성 -->
            <div class="product-card">
                <img src="https://picsum.photos/300/200?random=1" alt="상품 이미지" name="pd_image"/>
                <div class="product-info">
                    <div class="product-brand" name="pd_brand">반스</div>
                    <div class="product-name" name="pd_name">올드스쿨 어쩌고,,,,</div>
                    <div class="product-rating" name="pd_rating">3.2</div>
                    <div class="product-title" name="discount">10%</div>
                    <div class="product-price" name="pd_price">₩39,000</div>
                </div>
            </div>

            

            <!-- 생략된 나머지 카드들은 같은 형식으로 4~18까지 random 파라미터만 바꾸면 됨 -->
        </div>
    </div>

</div>

<th:block layout:fragment="footer"></th:block>

</html>