<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JoinPage</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>

  <body>
    <form th:action="@{memberLogin}" method="post" th:object="${member}">
      <input type="text" name="m_id" placeholder="아이디" required />
      <input type="password" name="m_pw" placeholder="비밀번호" required />
      <input type="submit" value="로그인" />
    </form>
  </body>
</html>
