<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="header"></th:block>

<div layout:fragment="content">

<div id="login" class="page">
  <div class="section-title">마이페이지</div>
  <div class="mypage-buttons">
    <button type="button" class="mypage-button" onclick="location.href='goUpdate'">회원정보 수정</button>
    <button type="button" class="mypage-button" onclick="location.href='goPreference'">취향 선택</button>
    <button type="button" class="mypage-button" onclick="location.href='goWishlist'">찜한 상품</button>
  </div>
</div>
</div>


<th:block layout:fragment="footer"></th:block>

<th:block layout:fragment="script-footer"></th:block>

</html>