<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="header"></th:block>

<div layout:fragment="content">

  <div th:fragment="confirmDeleteModal">
    <div id="login-modal" class="modal" style="display: none;">
      <div class="modal-content">
        <p>로그인 먼저 진행해 해주세요.</p>
        <div class="modal-buttons">
          <button id="modal-confirm" class="confirm-button">확인</button>
        </div>
      </div>
    </div>
  </div>

  <div id="login" class="page"> 
    <div class="section-title">마이페이지</div> 
    <div class="mypage-buttons">
      <button type="button" class="mypage-button" onclick="location.href='goUpdate'">회원정보 수정</button>
      <button type="button" class="mypage-button" onclick="location.href='goPreference'">취향 선택</button>
      <button type="button" class="mypage-button" onclick="location.href='goWishlist'">찜한 상품</button>
      <button type="button" class="mypage-button" th:if="${session.user != null}"
        onclick="location.href='goInquiryList'">
        문의하기
      </button>
      <button type="button" class="mypage-button" th:if="${session.user == null}"
        onclick="document.getElementById('login-modal').style.display='flex';">
        문의하기
      </button>
    </div>
  </div>
</div>


<th:block layout:fragment="footer"></th:block>

<th:block layout:fragment="script-footer">
  <script>
    $(".modal").on("click", function () {
      $(this).css("display", "none");
      location.href = "goLogin";
    });
  </script>
</th:block>

</html>