<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="header"></th:block>

<div layout:fragment="content">
    

     <!-- 여기 마이페이지에요! -->
     <div id="profile" class="page">
        <div class="section-title">내 정보 페이지입니다.</div>
      </div>

      
</div>

<th:block layout:fragment="footer"></th:block>

</html>