<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="css">
    <style>
        input[type="checkbox"] {
            display: none;
            /* Hide the checkbox input */
        }
    </style>

</th:block>

<th:block layout:fragment="header"></th:block>

<div layout:fragment="content">

    <div id="join" class="page">
        <div class="section-title">당신의 취향을 선택하세요.</div>


        <!-- 페이지 이동하려고 임시로 get 해두고 goHome 해둔거에요 기능 만드실 때 post로 변경하심 될듯??? -->
        <form method="get" th:action="@{/goHome}" th:object="${member}">

            <!-- 취향 선택 -->
            <div class="preference-buttons">

                <label  for="comf" class="preference-button">편한</label>
                <input type="checkbox" id="comf" name="comf" value="Y" />

                <label for="fluffy" class="preference-button">푹신한</label>
                <input type="checkbox" id="fluffy" name="fluffy" value="Y" />

                <label for="light" class="preference-button">가벼운</label>
                <input type="checkbox" id="light" name="light" value="Y" />

                <label for="soft" class="preference-button">부드러운</label>
                <input type="checkbox" id="soft" name="soft" value="Y" />

                <label for="flat" class="preference-button">플랫한</label>
                <input type="checkbox" id="flat" name="flat" value="Y" />

                <label for="pretty" class="preference-button">예쁜</label>
                <input type="checkbox" id="pretty" name="pretty" value="Y" />

                <label for="cute" class="preference-button">귀여운</label>
                <input type="checkbox" id="cute" name="cute" value="Y" />

                <label for="neat" class="preference-button">깔끔한</label>
                <input type="checkbox" id="neat" name="neat" value="Y" />

                <label for="modern" class="preference-button">모던한</label>
                <input type="checkbox" id="modern" name="modern" value="Y" />

                <label for="wide" class="preference-button">발볼이 넓은</label>
                <input type="checkbox" id="wide" name="wide" value="Y" />

                <label for="narrow" class="preference-button">발볼이 좁은</label>
                <input type="checkbox" id="narrow" name="narrow" value="Y" />

                <label for="standard" class="preference-button">발볼이 보통</label>
                <input type="checkbox" id="standard" name="standard" value="Y" />

                <label for="hip" class="preference-button">휘뚜루마뚜루</label>
                <input type="checkbox" id="hip" name="hip" value="Y" />

                <label for="cost" class="preference-button">가격이 착한</label>
                <input type="checkbox" id="cost" name="cost" value="Y" />

                <label for="strong" class="preference-button">튼튼한</label>
                <input type="checkbox" id="strong" name="strong" value="Y" />

            </div>

            <!-- 선택된 취향 데이터를 저장할 hidden 필드 -->
            <!-- 스크립트 써서 디자인하느라 들어있는거에요!  -->
            <input type="hidden" name="selectedPreferences" id="selectedPreferences" />

            <!-- 완료 버튼 -->
            <div class="login-buttons">
                <button type="submit">취향 선택 완료</button>
            </div>
        </form>
    </div>


</div>

<th:block layout:fragment="footer"></th:block>

</html>