<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="header"></th:block>

<div layout:fragment="content">
    

    <!-- 여기 찜이에요! -->
    <div id="wishlist" class="page">
        <div class="section-title2">찜한 상품이 없습니다.</div>
      </div>

      
</div>

<th:block layout:fragment="footer"></th:block>

</html>