<!-- layout 쓰는 파일-->

<!DOCTYPE html>
<html
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <th:block layout:fragment="script"></th:block>

  <th:block layout:fragment="css"></th:block>

  <th:block layout:fragment="header"></th:block>
  <!-- 콘텐츠 -->
  <div layout:fragment="content">
    <div id="home" class="page active">
      

      <div class="product-list">
        <!-- 상품 카드 반복 -->

        <div class="product-discription-card">
          <img th:src="${product.pImage}" alt="상품 이미지" />
          <div class="product-discription-info">
            <!-- 신발 종류 -->
            <div class="product-discription-category"th:text="'카테고리: '+${product.pGroup} +' > '+ ${product.pType}"></div>
            <div class="product-discription-name" th:text="${product.pName}"></div>
            <div
              class="product-discription-rating"
              name="pd_rating"
              th:text="|⭐${product.pRating}|"
            ></div>
            <div
              class="product-discription-discount"
              name="discount"
              th:text="${product.pDiscount}"
            ></div>
            <div class="product-discription-price" th:text="${product.pPrice}"></div>

          </div>
        </div>

        <!-- 카테고리 점수 -->
        <div class="product-discription-category-score">

        <!-- 카테고리 백분율 하위 몇퍼센트인지-->
        <div>
          <h3>%</h3>
          <div th:text="'편한: '+ ${prodPercent.ctComfPercentileRank}"></div>
          <div
            th:text="'푹신한: '+ ${prodPercent.ctFluffyPercentileRank}"
          ></div>
          <div
            th:text="'부드러운: '+ ${prodPercent.ctSoftPercentileRank}"
          ></div>
          <div th:text="'플랫한: '+ ${prodPercent.ctFlatPercentileRank}"></div>
          <div th:text="'예쁜: '+ ${prodPercent.ctPrettyPercentileRank}"></div>
          <div th:text="'귀여운: '+ ${prodPercent.ctCutePercentileRank}"></div>
          <div th:text="'깔끔한: '+ ${prodPercent.ctNeatPercentileRank}"></div>
          <div
            th:text="'모던한: '+ ${prodPercent.ctModernPercentileRank}"
          ></div>
          <div
            th:text="'휘뚜루마뚜루: '+ ${prodPercent.ctHipPercentileRank}"
          ></div>
          <div
            th:text="'발볼이 넓은: '+ ${prodPercent.ctWidePercentileRank}"
          ></div>
          <div
            th:text="'발볼이 좁은: '+ ${prodPercent.ctNarrowPercentileRank}"
          ></div>
          <div
            th:text="'발볼이 보통: '+ ${prodPercent.ctStandardPercentileRank}"
          ></div>
          <div
            th:text="'가격이 착한: '+ ${prodPercent.ctCostPercentileRank}"
          ></div>
          <div
            th:text="'튼튼한: '+ ${prodPercent.ctStrongPercentileRank}"
          ></div>
        </ㅇ>

        <!-- 제품 설명 이미지 -->
        <div class="product-discription-image"th:each="productImage : ${ProdImageList}">
          <img th:src="${productImage.imgName}" alt="상품 이미지" />
        </div>
      </div>
    </div>
  </div>

  <th:block layout:fragment="footer"></th:block>
</html>
